#kutu1{
    background-color: blueviolet;width: 100vw;height: 10vh;
}
#kutu2{
    background-color: aqua;width: 100vw; height: 10vh;
}
#kutu3{
    background-color: rgb(236, 236, 40);width: 100vw; height: 10vh;
}
#kutu4{
    background-color: brown; width: 100vw;height: 10vh;
}
#kutu5{
    background-color: aquamarine; width: 100vw;height: 40vh;
    background-image:url(RESİMLER/4K-Karli-Daglar-Ve-Masmavi-Gol-Manzarasi-3840-X-2160-Duvar-Kagidi.jpg) ;
}